/* Apply a global reset to remove default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Center the main content in the middle of the page */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Style the form container */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style labels and inputs */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the Calculate button */
#calculateButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

#calculateButton:hover {
    background-color: #0056b3;
}

/* Style the result container */
#result {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    max-width: 400px; /* Adjust the maximum width to your preference */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; /* Center the text within the container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

/* Style for hidden elements */
.hidden {
    /* Remove 'display: none;' to initially show the container */
}